pylint
coverage
lxml
cssutils
numpy
cython
pyfakefs
mox3
portalocker
toposort
pyaudio
PyQt5
asynctest
quamash
./3rdparty/csound/
posix_ipc
eventfd
psutil
./3rdparty/lv2/
./3rdparty/lilv/
pkgconfig
pycapnp
py-cpuinfo
pyyaml
python-xlib
./3rdparty/protoc/
protobuf
